@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}

.side-bar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}

.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

.search {
  display: flex;
}

.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
}

.search input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
}

.mic {
  margin-top: 10px;
}

.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.video {
  width: 55%;
}

.sidebar {
  height: 701px;
  width: 40%;
}

.sidebar-content {
  display: flex;
  justify-content: space-between;
}

.mother {
  width: 60%;
  height: 150px;
}

.grandchild {
  width: 50%;
  height: 150px;
}

.grandchild h1 {
  font-size: 16px;
}

.grandchild p {
  font-size: 11px;
}

.second {
  display: flex;
  font-size: 10px;
  margin-top: -20px;
}

.second p {
  margin-right: 10px;
}
